// Variables for consistent styling
$movie-primary-color: dodgerblue;
$movie-secondary-color: #f0f0f0;
$movie-text-color: #333;
$movie-highlight-color: #ffcc00;

// General styles for the movie-view
.movie-view {
  padding: 20px;
  background-color: $movie-secondary-color;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}
.movie-title {
  font-size: 2rem;
  font-weight: bold;
  color: $movie-primary-color;
  margin-bottom: 10px;
  text-align: center;
}

.movie-description {
  font-size: 1rem;
  color: $movie-text-color;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .detail {
    font-size: 1rem;
    color: $movie-text-color;

    span {
      font-weight: bold;
      color: $movie-primary-color;
    }
  }
}

.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: darken($movie-primary-color, 10%);
  }
}
